.ant-dropdown {
	.ant-dropdown-menu {
		background: #fff;
		border: 1px solid #E9EBED;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.02), 0px 4px 8px rgba(0, 0, 0, 0.02);
		border-radius: 8px;
		padding: 8px 0;
		&-item {
			padding: 0;
			border-radius: 0;
			a {
				display: block;
				padding: 8px 16px;
				color: $neutral_90;
				&:hover {
					background-color: $brand_10;
				}
			}
			&+.ant-dropdown-menu-item {
				position: relative;
				&:before {
					position: absolute;
					top: 0;
					left: 16px;
					right: 16px;
					content: "";
					border-top: 1px solid $neutral_30;
				}
			}
		}
	}
}