// @import "var";
@import "../common/mixin";
@import "../common/var";

.tabs {
	&_nav {
		font-size: 16px;
		line-height: 22px;
		background: #FAFAFA;
		&_item {
			padding: 0 8px;
			color: $text_700;
			text-align: center;
			position: relative;
			&.nowrap {
				white-space: nowrap;
			}
			&:before {
				position: absolute;
				content: "";
				bottom: 0;
				left: 0;
				right: 0;
				border-bottom: 2px solid $primary_800;
				opacity: 0;
				height: 1px;
				transition: all .3s;
			}
			span {
				display: flex;
				justify-content: center;
				padding: 16px;
			}
			&.active {
				color: $primary_800;
				font-weight: 500;
				&:before {
					opacity: 1;
				}
			}
		}
	}
	&_content {
		padding: 24px;
	}
	&.form_group {
		.tabs_nav {
			background-color: #fff;
		}
	}
}