
// zalo
$green: #00C853;
$green_10: #E7FFE2;
$green_50: #2AD106;
$green_60: #26BC05;
$green_600:#80D824;

// red
$red:#E60F0F;
$red_70: #BF3530;
$red_60: #E5403A;
$red_50: #FF4740;
$red_10: #FBEEEE;

// text

$neutral_10: #FFFFFF;
$neutral_20: #F6F6F7;
$neutral_30: #EFEFEF;
$neutral_40: #D6D5DD;
$neutral_50: #D2D0D9;
$neutral_70: #8D8D8F;
$neutral_80: #69686D;
$neutral_85: #6F6F6F;
$neutral_90: #343436;
$neutral_100: #2D2D2D;


// brand
$brand_10: #E5F0FF;
$brand_30: #84B6FF;
$brand_50: #0068FF;
$brand_60: #005CE1;
$brand_80: #0047AD;


// white
$white_10: rgba(255,255,255,.1);

$yellow_60: #E59700;
$yellow_50: #FFA800;
$yellow_10: #FFF6E5;

$n1: #24252E;
$n2: #484A5B;
$n3: #6C7089;
$n4: #989BAE;
$n6: #DDDEE4;
